.modal-container {
  position: relative;
}

.modal-close {
  position: absolute;
  top: -10px;
  right: -5px;
  cursor: pointer;
}

.modal-close:hover {
  transform: scale(1.2);
  color: var(--primary-color);
}

.modal-content {
  margin-bottom: 10px;
}

.modal-container .modal-content.map-content {
  width: 80vw;
  max-width: 850px;
}

.ReactModal__Content {
  transform: translate(-50%, -100vh) !important;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--after-open .ReactModal__Content {
  transform: translate(-50%, -50%) !important;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c1ccd9;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  border-radius: 50%;
}
