.button {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  transition: 0.3s background-color;
  border: 1px solid #00000000;
  cursor: pointer;
  transition: all 0.35s;
}

.button:hover {
  background-color: var(--secondary-color);
}

/*Custom Boostrap*/
.navbar {
  background-color: #fff;
  height: 60px;
  border-bottom: 1px solid #f1f4f9;
}
.navbar-brand,
.offcanvas-title {
  font-weight: 800;
  color: var(--primary-color);
  font-size: 26px;
  transition: 0.3s color;
}
.navbar-brand:hover {
  color: var(--primary-color);
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  text-align: center;
  color: #666777;
  font-weight: 500;
  position: relative;
}

.nav-link__item:hover,
.nav-link__item:active {
  color: #000;
}

.nav-link__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease-in-out;
  width: 0;
  height: 5px;
  border-radius: 50px;
  background-color: var(--primary-color);
  visibility: hidden;
}

.nav-link__item:hover::before,
.nav-link__item.active::before {
  width: 60%;
  visibility: visible;
}

.navbar-user {
  display: flex;
}

.nav-user-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 10px;
  border: 3px solid var(--primary-color);
}

.header-notification {
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.header-notification__num {
  position: absolute;
  height: 14px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 2px;
  border-radius: 14px;
  background-color: #ff5d6c;
  color: #fff;
  min-width: 14px;
  border: 1px solid #fff;
  left: 18px;
  top: 4px;
  white-space: nowrap;
}

.header-notification__num::after {
  content: attr(data-num);
  font-size: 10px;
}

.icon-bell {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--text-color);
  padding: 0 6px;
  overflow: hidden;
  border-radius: 50%;
}

.icon-bell:hover {
  background-color: #eff2ff;
  color: var(--primary-color);
}

.padding-dialog {
  position: absolute;
  top: 30px;
  right: 0;
  width: 80px;
  height: 30px;
}

.padding-dialog:hover .notification-dialog {
  display: block;
}

.header-notification:hover .notification-dialog {
  display: block;
}

.notification-dialog {
  display: none;
}

.notification-dialog:hover {
  display: block;
}

.header-notification-dialog {
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0.375rem;
  cursor: initial;
  top: 55px;
  right: 0;
  width: 350px;
  z-index: 9;
  overflow: hidden;
  -webkit-animation: fade-in 0.3s both;
  animation: fade-in 0.3s both;
}

.header-notification-dialog__header {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 56px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #f1f4f9;
}

.header-notification-dialog__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.header-notification-dialog__clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.clean-icon {
  height: 18px;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
}

.setting-icon {
  font-size: 20px;
  color: #2f3f56;
}

.header-notification-dialog__list {
  overflow-y: auto;
  overflow-x: hidden;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  max-height: 350px;
  transition: all 0.5s ease-in-out;
}

.header-notification-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.notification-system-card {
  padding: 8px;
  margin: 8px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 16px;
}

.notification-system-card:hover {
  background-color: #eff2ff;
}

.header-notification-list__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;
  margin-left: 5px;
}

.header-notification-list__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 20px;
  font-weight: bold;
  padding-right: 30px;
}

.header-notification-list__title {
  color: rgba(0, 0, 0, 0.85);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header-notification-list__content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-notification-list__text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-notification-list__text__time {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 0;
}

.header-notification-list__text__time::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  margin: 0 4px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.header-notification-list__text__message {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 20px;
  max-height: 20px;
  word-break: break-all;
}

.header-notification-dialog__footer {
  height: 40px;
  font-size: 14px;
  padding: 0 16px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-notification-dialog__footer a {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
}

.no-data-dialog {
  padding-top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.img-no-data {
  width: 160px;
  height: 120px;
  margin-bottom: 8px;
}

.no-data__text {
  word-break: break-word;
  margin: 0 auto 0 auto;
  color: rgba(0, 0, 0, 0.45);
  text-align: center;
  line-height: 16px;
  font-size: 14px;
  padding: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
